.home{
    max-width: 1440px;
   
    margin-top: 34px;
   
    

}
.home__page{
    max-width: 1440px;
    
    top: 74px;
    
   
    background-image: url(img/fon__home.jpg);
    
    
    background-size:cover ;
    
   


}

.title__home{
    width: 768;
height: 309.34375;
margin-top:-600px;

}
.title__home__decaration{
    font-family: Roboto;
font-weight: 700;
font-size: 56px;
line-height: 61.6px;
letter-spacing: 0%;
width: 404;
height: 185;
margin-top: -3.13px;
padding-left: 88px;
color: #1B365D;



}
.title__home__decaration__1{
    
margin-top: -2%;
padding-left: 15px;
font-family: Roboto;
font-weight: 700;
font-size: 18px;
line-height: 24px;
letter-spacing: 0%;
color: #434140;


}

.button__home__decaration{
    width: 186px;
height: 46px;
border-radius: 24px;
border-width: 1px;
background: #fff;
font-family: Roboto;
font-weight: 700;
font-size: 14px;
line-height: 20px;
letter-spacing: 0%;
text-align: center;

}
.button__home__decaration__1{
    width: 117px;
height: 20px;
font-family: Roboto;
font-weight: 700;
font-size: 14px;
line-height: 20px;
letter-spacing: 0%;
color:#1B365D;
text-decoration: none;
padding-left: 4%;
}
.card__home{
    background:  #F1C0C7;
    width: 499px;
height: 86px;
margin-top: -3%;

}
.card__home__decaration{
    width: 84px;
height: 54px;
margin-top: 16px;
padding-left: 88px;
}
.title__card__home{
    width: 180px;
height: 21px;
margin-top: -14%;
font-family: Roboto;
font-weight: 700;
font-size: 15px;
line-height: 21px;
letter-spacing: 0%;
padding-left: 40%;
color: #1B365D;

}
.card__home__1{
    padding-left: 39%;
    width: 288px;
height: 20px;
margin-top: -10px;
color: #1B365D;
font-family: Roboto;
font-weight: 400;
font-size: 14px;
line-height: 20px;
letter-spacing: 0%;


}
.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}



.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: 22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}